body { background: #ECEFF1; color: rgba(0,0,0,0.87); font-family: Roboto, Helvetica, Arial, sans-serif; margin: 0; padding: 0; }
a {text-decoration: none; color: #004B8D;}

#message { background: white; max-width: 460px; margin:50px auto 16px;  padding: 5px; padding-bottom: 24px; border-radius: 5px; text-align: center;}
#message h2 { color: #ffa100; font-weight: bold; font-size: 32px; margin: 0 0 8px; }

#message h1 { font-size: 102px; text-align: center; font-weight: 300; color: #3d3d29; margin: 0 0 0 0; margin-bottom: 0px;font-family: 'Slabo 27px', serif;}
#message h3 {font-size: 28px; color: #DB2818; text-align: center; font-family: 'Handlee', cursive; margin-top: 0px; margin-bottom: 0px;}

#message a { display: block; text-align: center; background: #039be5; text-transform: uppercase; text-decoration: none; color: white; padding: 16px; border-radius: 4px; }
#message, #message a { box-shadow: 0 2px 6px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.24); }
#load { color: rgba(0,0,0,0.4); text-align: center; font-size: 13px; }

#display {
   text-align: center;
   margin-bottom: 0px;
   margin-top: 0px;
   padding: 0px;
}

#displayT {
   font-size: 120px;
   color: #3d3d29;
}

#displayM {
   font-size: 40px;
   color: #DB2818;
}


.my-btn {
   width: 120px;
   height: 50px;
   border: none;
   text-align: center;
   color: #ffffff;
   background-color: #f0f0f0;
   font-weight: bold;
   font-size: 16px;
   border-radius: 5px;
   margin: 5px;
}


.my-btn-dialog {
   width: 90px;
   height: 35px;
   border: none;
   text-align: center;
   color: #3d3d29;
   font-weight: bold;
   font-size: 14px;
   border-radius: 5px;
   margin: 1px;
}

#closeConfig {
   background-color: #f0f0f0;
}

#saveConfig {
   background-color: #f0f0f0;
}

#restoreConfig {
   background-color: #f0f0f0;
}


#start {
   background-color: #92B558;
}
#stop {
   background-color: #DC4C46;
}
#reset {
   background-color: #F6D155;
}

#continue {
   background-color: white;
   color: #DC4C46;
   border: 1px solid #DC4C46;
   visibility: hidden;
   display: none;
}

.btn-tool {
   width: 32px;
   height: 32px;
   border: none;
   text-align: center;
   color: #3d3d29;
   font-weight: bold;
   font-size: 16px;
   border-radius: 5px;
   margin: 5px;
}

#config {
   background-color: #f0f0f0;
}


.disclaimer{
   text-align: center;
   font-size: 10px;
   margin: 5px;
}

#pomodoro-mode {
   text-align: center;
   width: 100%;
   margin-bottom: 0px;
}

#pomodoro-mode .my-btn {
   margin-bottom: 0px;
   width: 100px;
   height: 30px;
   border: 1px solid #223A5E;
   text-align: center;
   color: #223A5E;
   font-weight: bold;
   font-size: 12px;
   border-radius: 5px;
   background-color: #ffffff;
   margin-left: 0px;
   margin-right: 0px;
}

#pomodoro-mode .is-active{
   color: #ffffff;
   background-color: #223A5E;
}

#tools{
   margin: 0;
   padding: 0;
   width: 100%;
   text-align: right;
}


.btn-enabled{
   color: #ffffff;
}

.btn-disabled{
   /*color: #898E8C;*/
   opacity: 0.5;
}

@media (max-width: 600px) {
 body, #message { margin-top: 0; background: white; box-shadow: none; }
 body { border-top: 10px solid #DB2818;  border-bottom: 10px solid #DB2818; }
 #message h1 { font-size: 65px;}
 #message h3 { font-size: 20px;}
 #logo { width: 48px; height: 48px;}
 .my-btn {font-size: 12px; width: 95px; margin-left: 0px; margin-right: 0px; height: 40px;}
 #pomodoro-mode .my-btn {font-size: 10px; width: 80px;}
 #displayT {font-size: 90px;}
 #displayM {font-size: 32px;}
 .disclaimer {font-size: 9px;}
}
